{% extends 'food/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        
 <div class="col-md-6">
     <form action="" method="post">
    {% csrf_token %}
     {% for field in form %}
    {{ field.label }}
   <p> {{ field }}</p>
    {{ field.errors }}

    {% endfor %}
<small>Don't have an account? <a href="{% url 'users:register' %}">Register</a></small><br>
    <button type="submit" class="btn btn-success">Login</button>
</form>
 </div>
 <div class="col-md-6">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, magni ipsa quo reprehenderit deserunt accusantium modi ratione reiciendis nulla placeat, deleniti repellendus aut sit vitae ex consectetur aliquid voluptate assumenda. Tempore incidunt suscipit molestias voluptates eius nemo illo aspernatur accusantium!</p>
 </div>
    </div>



  
</div>






{% endblock %}