{% extends 'food/base.html' %}

{% block content %}

<div class="container bg-dark text-white d-flex justify-content-center "style="width: 50%;height: 100%;border-radius: 10px;">
    <div class="row">
        
 <div class="col-md-6 0ffset-md-3">
     <form action="" method="post" class="form-group mt-5">
    {% csrf_token %}
     {% for field in form %}
    {{ field.label }}
   <p> {{ field }}</p>
    {{ field.errors }}

    {% endfor %}
<small>Don't have an account? <a href="{% url 'users:register' %}">Register</a></small><br>
    <button type="submit" class="btn btn-success mt-3 mb-3">Login</button>
   
</form>

 </div>

    </div>



  
</div>






{% endblock %}