{% extends "food/base.html"%}

{% block content %}


 <div class="container">
        <div class="row">
            <div class="col-md-6 text-center offset-3">
                <img src="{{ user.profile.image.url }}" alt="photo" class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
                <h3>{{ user.username|capfirst }}</h3>

                <p>{{ user.profile.full_name }}</p>
                <p>{{ user.email }}</p>
                <p>{{ user.profile.location }}</p>
            
            </div>

            </div>
        </div>
    </div>





{% endblock %}